<div class="main_section">
	<div class="container">
		<div class="chat_container">
			<!--chats section-->
			<div class="col-sm-3 chat_sidebar">
				<div class="row">
					<div id="custom-search-input">
						<div class="input-group">
							<input type="text" class=" search-query form-control" placeholder="Chat" #chat/>
							<button (click)="searchChat(chat.value)" class="btn btn-danger" type="button">
								<span class=" glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
					
					<div class="member_list">
						<ul class="list-unstyled">			
							<li class="left clearfix">
								<strong class="primary-font">Ihor Vasylechko</strong>
							</li>	
						</ul>
					</div>
				</div>
			</div>
			<!--messages section -->
			<div class="col-sm-9 message_section">
				<div class="row">
					<div class="chat_area" #chat angular2-auto-scroll lock-y-offset="10" observe-attributes>
						<a *ngIf="messages.length>=20" (click)="getMoreMessages()" >Load more...</a>
						<ul class="list-unstyled">
							<li class="left clearfix" *ngFor="let message of messages">
								<span *ngIf="message.Photo" class="chat-img1 pull-left">
									<img  [src]="message.Photo" alt="" class="img-circle">
								</span>
								<div class="chat-body1 clearfix">
									<strong *ngIf="message.SenderFirstName" class="primary-font">{{message.SenderFirstName}} {{message.SenderLastName}}</strong>
									<div *ngIf="message.Date" class="chat_time pull-right">{{message.Date}}</div>
									<p>{{message.Text}}</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="message_write">
						<textarea class="form-control" placeholder="type a message" #message></textarea>
						<div class="chat_bottom">
							<a href="#" class="pull-left upload_btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i>Add Files</a>
							<button (click)="sendMessage(message.value)" class="pull-right btn btn-success">Send</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>