@{
    ViewBag.Title = "TS Messenger";
}

@section styles
{
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.core.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.bootstrap.css" rel="stylesheet" />
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    @*<link href="~/lib/css/alertify.default.css" rel="stylesheet" />*@
}

<div id="nav-separator"></div>

<photogallery-app>
    <div class="loading">Loading</div>
</photogallery-app>

@section scripts
{
    <script src="~/lib/js/jquery.js"></script>
	<!--<script src="~/lib/js/bootstrap.js"></script>-->
    <!--<script src="~/lib/signalr/jquery.signalR.js"></script>-->

    <script src="~/lib/js/jquery.fancybox.pack.js"></script>
    <script src="~/lib/js/alertify.min.js"></script>
    <!--<script src="~/lib/core-js/client/shim.js"></script>-->
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/lib/systemjs/dist/system.src.js"></script>              

    <!--<script src="/signalr/js"></script>-->
    <script src="~/lib/js/systemjs.config.js"></script>
}

@section customScript
{
    System.import('app').catch(console.log.bind(console));
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
    /*$(function () {
    var broadcaster = $.connection.broadcaster;
 
    broadcaster.client.message = function (text) {
        alert(text);
    };
 
    $.connection.hub.start().done(function () {
        broadcaster.server.broadcast('hello from client');
    });

    }); */
}