<div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-9 col-lg-offset-3">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <img [src]="photoPath" alt="User's photo">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <span>Username: {{username}}</span>
            <span>Phone: {{phone}}</span>
            <span>Email: {{email}}</span>
            <span>Date of Birthday: {{birthDate}}</span>        
        </div>

    </div>
</div>
